@charset "utf-8";

#sliders {
  width: 1200px;
  height: 380px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.slider_left {
  position: relative;
  width: 890px;
  height: 380px;
}
.slider_left > a > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.slider_right_desc p {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.slider_right_desc span {
  font-size: 14px;
  margin-top: 15px;
  display: block;
}
.controller_left {
  position: absolute;
  width: 171px;
  height: 30px;
  right: 12px;
  bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.controller_left > button {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  width: 30px;
  height: 30px;
  border: none;
}
.controller_left > button > img {
  border-radius: 100px;
  width: 16px;
  height: 16px;
}
.controller_left .ctl_box {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  width: 137px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: white;
  padding: 6px 12px;
}
.controller_left .ctl_box > img {
  width: 12px;
  height: 12px;
}
.slider_right {
  position: relative;
  width: 274px;
  height: 380px;
  border: 1px solid #eaeaea;
  border-radius: 15px;
}

.slider_right > a > img {
  width: 274px;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.slider_right_desc {
  width: 274px;
  height: 130px;
  padding: 20px 24px;
  text-align: center;
}
.controller_right {
  position: absolute;
  width: 274px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.controller_right > button > img {
  border-radius: 100px;
  width: 16px;
  height: 16px;
}

.controller_right .ctl_box {
  width: 137px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #767676;
  padding: 6px 12px;
}

.controller_right .ctl_box > img {
  width: 12px;
  height: 12px;
}

#shortcuts {
  width: 1200px;
  height: 96px;
  margin: 0px auto;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.shortcuts_box {
  width: 890px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.shortcuts_box li {
  display: flex;
}
.shortcuts_box li > a {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.shortcuts_box img {
  width: 68px;
  height: 68px;
  border-radius: 15px;
}
.shortcuts_box span {
  font-size: 14px;
  color: #595959;
  display: inline-block;
}

#selection_of_today {
  width: 1328px;
  height: 314px;
  margin: 0 auto;
  margin-top: 50px;
}
.top_tab {
  width: 1200px;
  height: 34px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.tab_left {
  display: flex;
  align-items: end;
}
h2 {
  display: inline-block;
  margin: 0 40px 0 0;
}
.tap_left_nav {
  width: 420px;
  height: 26px;
  padding: 2px 0;
  display: flex;
  justify-content: start;
  font-size: 14px;
  color: #767676;
}
.tap_left_nav span {
  margin: 0 10px;
}
.tap_left_nav > li > a::before {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #595959;
  display: inline-block;
}

.tap_left_nav > li:first-child > a::before {
  display: none;
}
.tab_more span {
  font-size: 14px;
  font-weight: 700;
}
.tab_more img {
  width: 12px;
  height: 12px;
}
.btn_left {
  /* position: absolute; */
  margin-top: -14%;
  width: 44px;
  height: 44px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 100px;
  float: left;
}
.btn_left img {
  width: 14px;
  height: 14px;
}
.btn_right {
  /* position: absolute; */
  margin-top: -14%;
  width: 44px;
  height: 44px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 100px;
  float: right;
}
.btn_right img {
  width: 14px;
  height: 14px;
}
.today_inner {
  width: 1200px;
  height: 260px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.today_inner_left {
  width: 730px;
  height: 260px;
  display: flex;
  align-items: center;
}
.today_inner_left img {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.today_inner_left_desc {
  width: 528px;
  height: 124px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-left: 20px;
}
.today_inner_left_desc .title {
  display: inline-block;
  font-weight: 500;
}
.today_inner_left_desc .title:hover {
  text-decoration: underline;
}
.today_inner_left_desc .today_special {
  color: #474c98;
  font-weight: 500;
}
.today_special::before {
  content: "";
  background-image: url(../img/today_shape.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.today_inner_right {
  width: 450px;
  height: 194px;
  display: flex;
  justify-content: space-between;
}
.today_inner_right img {
  width: 134px;
  height: 194px;
  border-radius: 15px;
}
.ad_2col_banner {
  width: 1200px;
  height: 180px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.ad_2col_banner img {
  width: 595px;
  height: 180px;
  border-radius: 15px;
}
#hankang {
  width: 1328px;
  height: 378px;
  margin: 0 auto;
  margin-top: 80px;
}
.hankang_inner {
  width: 1200px;
  height: 326px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hankang_books {
  width: 1200px;
  height: 326px;
  display: flex;
  justify-content: space-between;
}
.hankang_inner li {
  width: 180px;
  height: 302px;
  display: flex;
}
.hankang_inner img {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
}
.hankang_inner span {
  font-weight: 500;
  color: #000;
}

#newproduct {
  width: 1328px;
  height: 450px;
  margin: 0 auto;
  margin-top: 80px;
}
.newproduct_inner {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newproduct_books{
  width: 1200px;
  height: 450px;
  display: flex;
  justify-content: space-between;
}
.newproduct_inner li {
  width: 180px;
  height: 302px;
  display: flex;
}
.newproduct_inner img {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
}
.newproduct_inner .productname {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.newproduct_inner .price {
  font-weight: 500;
  line-height: 50px;
  color: rgb(128, 128, 128);
}

#suggestion {
  width: 1200px;
  height: 378px;
  margin: 0 auto;
  margin-top: 80px;
}
.suggestion_inner {
  width: 1200px;
  height: 326px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.suggestion_books {
  width: 1200px;
  height: 326px;
  display: flex;
  justify-content: space-between;
}

.suggestion_inner li {
  width: 180px;
  height: 302;
  display: flex;
}

.suggestion_inner img {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
}

.suggestion_inner span {
  font-weight: 500;
  color: #000;
}
#md_suggestion {
  width: 1328px;
  height: 378px;
  margin: 0 auto;
  margin-top: 80px;
}

.md_suggestion_inner {
  width: 1200px;
  height: 326px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.md_suggestion_inner ul {
  width: 1200px;
  height: 326px;
  display: flex;
  justify-content: space-between;
}

.md_suggestion_inner li {
  width: 180px;
  height: 302;
  display: flex;
}

.md_suggestion_inner img {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
}

.md_suggestion_inner span {
  font-weight: 500;
  color: #000;
}
#ai_suggestion {
  background-color: #ccc;
  width: 1200px;
  height: 298px;
  margin: 0 auto;
  margin-top: 80px;
}
#best {
  background-color: #ccc;
  width: auto;
  height: 908px;
  margin: 0 auto;
  margin-top: 80px;
}
#popular {
  width: 1200px;
  height: 378px;
  margin: 0 auto;
  margin-top: 80px;
}

.popular_inner {
  width: 1200px;
  height: 326px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.popular_books {
  width: 1200px;
  height: 326px;
  display: flex;
  justify-content: space-between;
}

.popular_inner li {
  width: 180px;
  height: 302;
  display: flex;
}

.popular_inner img {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
}

.popular_inner span {
  font-weight: 500;
  color: #000;
}
#possible_kyobo {
  width: 1328px;
  height: 378px;
  margin: 0 auto;
  margin-top: 80px;
}

.possible_kyobo_inner {
  width: 1200px;
  height: 326px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.possible_kyobo_books {
  width: 1200px;
  height: 326px;
  display: flex;
  justify-content: space-between;
}

.possible_kyobo_inner li {
  width: 180px;
  height: 302px;
  display: flex;
}

.possible_kyobo_inner img {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
}

.possible_kyobo_inner span {
  font-weight: 500;
  color: #000;
}
.ad_1col_banner {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  margin-top: 80px;
}

.ad_1col_banner img {
  width: 1200px;
  height: 150px;
  border-radius: 15px;
}
#made_kyobo {
  width: 1328px;
  height: 378px;
  margin: 0 auto;
  margin-top: 80px;
}

.made_kyobo_inner {
  width: 1200px;
  height: 326px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.made_kyobo_books {
  width: 1200px;
  height: 326px;
  display: flex;
  justify-content: space-between;
}

.made_kyobo_inner li {
  width: 180px;
  height: 302px;
  display: flex;
}

.made_kyobo_inner img {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
}

.made_kyobo_inner span {
  font-weight: 500;
  color: #000;
}
#baropod {
  width: 1328px;
  height: 378px;
  margin: 0 auto;
  margin-top: 80px;
}

.baropod_inner {
  width: 1200px;
  height: 326px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.baropod_books {
  width: 1200px;
  height: 326px;
  display: flex;
  justify-content: space-between;
}

.baropod_inner li {
  width: 180px;
  height: 302px;
  display: flex;
}

.baropod_inner img {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
}

.baropod_inner span {
  font-weight: 500;
  color: #000;
}
#casting {
  width: 1328px;
  height: 300px;
  margin: 0 auto;
  margin-top: 80px;
}

.casting_inner {
  width: 1200px;
  height: 246px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.casting_books {
  width: 1200px;
  height: 246px;
  display: flex;
  justify-content: space-between;
}

.casting_inner li {
  width: 180px;
  height: 246px;
  display: flex;
}

.casting_inner img {
  width: 180px;
  height: 180px;
  border: 1px solid #ccc;
}

.casting_inner span {
  font-weight: 500;
  color: #000;
}
#event {
  width: 1328px;
  height: 224px;
  margin: 0 auto;
  margin-top: 80px;
}

/* .event_inner {
  width: 1200px;
  height: 170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
} */
.event_inner ul {
  width: 1200px;
  height: 170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.event_inner li {
  width: 384px;
  height: 170px;
  display: flex;
}

.event_inner img {
  width: 384px;
  height: 170px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
