@charset "utf-8";

.container_wrap {
  position: relative;
}
.header_contents_inner {
  width: 1200px;
  height: 822px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.breadcrumb_wrap {
  position: relative;
  height: 47px;
  margin-top: 20px;
}
.breadcrumb_inner {
  width: 1200px;
  height: 47px;
  margin: 0 auto;
}
.breadcrumb_list {
  display: flex;
}
.breadcrumb_item {
  position: relative;
  font-size: 13px;
  display: inline-block;
}
.btn_sub_depth {
  margin-left: 20px;
}
.btn_sub_depth::after {
  position: absolute;
  top: 3px;
  content: "";
  background-image: url(../img/ico_breadcrumb_more@2x.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.breadcrumb_item::before {
  position: absolute;
  top: 6px;
  left: 8px;
  content: "";
  background-image: url(../img/ico_breadcrumb_divide@2x.png);
  background-size: 4px 8px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 4px;
  height: 8px;
  margin-left: 20px;
}

.home_link {
  position: absolute;
  top: 3px;
  background-image: url(../img/ico_breadcrumb_home@2x.png);
  background-size: 14px 13px;
  background-repeat: no-repeat;
  font-size: 0;
  display: block;
  width: 14px;
  height: 19px;
}
.btn_sub_depth {
  vertical-align: top;
  padding-left: 20px;
  padding-bottom: 8px;
}

#content {
  height: 11100px;
  padding-top: 42px;
}
.prod_detail_title_wrap {
  position: relative;
  width: 1200px;
  height: 73px;
  margin: 0 auto;
  text-align: center;
}
.prod_title_area {
  padding: 0 72px;
}
.prod_title_area h1 {
  font-size: 28px;
}
.share_btn {
  position: absolute;
  width: 42px;
  height: 42px;
  line-height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 50%;
  vertical-align: top;
  background-color: transparent;
  float: right;
  top: 10px;
  right: 0px;
}
.ico_share {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-image: url(../img/ico_share@2x.png);
  vertical-align: top;
}
.prod_detail_view_wrap {
  width: 1200px;
  height: 731px;
  margin: 0 auto;
  margin-top: 18px;
}
.prod_detail_type_area {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.prod_type_list_wrap {
  width: 1200px;
  height: 50px;
  text-align: center;
}
.prod_type_list {
  width: 380px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 0 auto;
}
.prod_type_list li {
  width: 190px;
  height: 50px;
  padding: 6px 10px;
}
.prod_type_list .active {
  box-shadow: 2px 3px 5px 0px #ccc;
  background-color: white;
  border-radius: 10px;
}
.prod_type_list span {
  color: #595959;
  display: block;
}
.prod_type {
  font-size: 14px;
  color: #595959;
}
.prod_price {
  font-size: 12px;
  color: #595959;
}
.prod_type_list .enable {
  color: #5055b1;
}
.col_prod_info {
  width: 330px;
}

.prod_detail_view_area {
  display: flex;
}
.prod_detail_view_area .author {
  height: 46px;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
}
.prod_info_text {
  font-size: 14px;
  margin-bottom: 21px;
  color: #767676;
}
.prod_best_box span {
  color: black;
  margin-right: 10px;
  font-size: 14px;
}
.prod_best_box .text::before {
  content: "";
  background-image: url(../img/ico_best_crown@2x.png);
  background-size: 22px 20px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 22px;
  height: 20px;
}
.prod_review_box {
  width: 328px;
  height: 114px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}
.col_review {
  width: 164px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 16px 15px 22px;
  text-align: center;
  position: relative;
}
.review_score {
  display: inline-block;
  color: #4dac27;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.review_score::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-right: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-image: url(../img/ico_review_feel_lucky@2x.png);
  vertical-align: top;
}
.rating::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 18px;
  background-size: 18px 18px;
  background-image: url(../img/ico_klover@2x.png);
  vertical-align: top;
}
.col_review .text {
  font-size: 12px;
}
.col_review::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 1px;
  height: 50px;
  background-color: #eaeaea;
}
.prod_review_box .col_review:first-child::before {
  display: none;
}
.col_review .review_text {
  padding-left: 0;
  padding-top: 23px;
  margin-top: 6px;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: #474c98;
  display: inline-block;
  position: relative;
}
.review_text::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-image: url(../img/ico_quotes_lg@2x.png);
}
.thumb {
  width: 380px;
  height: 651px;
  margin-left: 80px;
}
.thumb_img img {
  width: 380px;
  height: 550px;
}

.ctl_box {
  width: 380px;
  height: 16px;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #767676;
}
.ctl_box > img {
  width: 12px;
  height: 12px;
  margin: 0 10px;
}
.btn_wrap {
  height: 36px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_wrap button {
  width: auto;
  padding-left: 11px;
  padding-right: 12px;
  border-radius: 30px;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  margin: 0 5px;
}
.ico_preview {
  vertical-align: top;
  height: 18px;
  margin-right: 3px;
  width: 12px;
  background: url(../img/ico_preview@2x.png) left center no-repeat;
  background-size: 12px 12px;
  display: inline-block;
}
.ico_ebook_preview {
  vertical-align: top;
  height: 18px;
  margin-right: 3px;
  width: 12px;
  background: url(../img/ico_ebook_preview@2x.png) left center no-repeat;
  background-size: 12px 12px;
  display: inline-block;
}
.col_prod_info:last-child {
  width: 330px;
  height: 524px;
  margin-left: 80px;
}
.prod_price_wrap {
  width: 330px;
  height: 84px;
}
.badge_list_box {
  width: 180px;
  height: 26px;
  margin-bottom: 26px;
}
.badge_list_box .text {
  color: #767676;
  background: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 4px 4px 0 0;
  min-height: 22px;
  padding: 1px 5px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
}
.prod_price_box {
  width: 330px;
  height: 36px;
}
.prod_price_box .percent {
  display: inline-block;
  margin-right: 6px;
  color: #4dac27;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  vertical-align: top;
}
.prod_price_box .price {
  display: inline-block;
  margin-right: 4px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  vertical-align: top;
}
.prod_price_box .sale_price {
  display: inline-block;
  margin-bottom: 2px;
  color: #767676;
  font-size: 14px;
  line-height: 22px;
  vertical-align: bottom;
}
.prod_guide_wrap {
  width: 330px;
  height: 317px;
  /* border-top: 1px solid #eaeaea; */
  border-bottom: 1px solid #eaeaea;
  margin-top: 15px;
}
.prod_guide_box {
  font-size: 14px;
  color: #000;
  padding: 18px 0 16px;
  border-top: 1px solid #eaeaea;
}
.prod_guide_row {
  display: flex;
  align-items: center;
}
.prod_guide_title {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-right: 15px;
}
.prod_guide_cont {
  max-width: 100%;
  margin-left: auto;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}
.point_text {
  display: inline-block;
  color: #4dac27;
  font-size: 15px;
  line-height: 23px;
  font-weight: 700;
  /* vertical-align: top; */
}
.btn_tooltip {
  width: 22px;
  height: 22px;
  background: none;
  border: none;
}
.ico_arw {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-image: url(../img/arw_tooltip@2x.png);
}
.delivery_guide_text {
  color: #000;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}
#OrderDeliveryType {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: right;
}
.tooltip_wrap {
  position: relative;
  display: inline-block;
  height: 22px;
  vertical-align: top;
}
.ico_info {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/btn_tooltip_sm@2x.png) center no-repeat;
  background-size: 16px 16px;
}
.badge_primary {
  display: inline-block;
  text-align: center;
  padding: 1px 7px;
  border-radius: 20px;
  font-weight: 400;
  color: #474c98;
  border: 1px solid #ededf7;
  background: #ededf7;
}
.badge_primary .text {
  font-size: 12px;
  color: #474c98;
}
.ico_question {
  display: inline-block;
  position: relative;
  vertical-align: top;
  border: 1px solid #d5d5d5;
  border-radius: 100%;
  background: url(../img/btn_tooltop_question_sm@2x.png) center no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}
.nonmember {
  display: flex;
  justify-content: flex-start;
  padding-top: 18px;
  border-top: 1px solid #eaeaea;
  margin-top: 9px;
}
.prod_info_text {
  font-size: 13px;
  color: #595959;
}
.info_text_box {
  width: 330px;
  height: 74px;
  display: block;
  margin: 4px 0 1px;
  text-align: left;
  padding: 14px;
  border-radius: 10px;
  background-color: #f7f7f7;
  color: #000;
  font-size: 14px;
  line-height: 22px;
}
.flower_info_flex {
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 14px;
  line-height: 22px;
}
.flower_info_flex .info_text {
  font-size: 13px;
  line-height: 19px;
  color: #000;
  line-height: 19px;
  font-weight: 400;
}
.flower_info_flex .btn_line_gray {
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  flex-direction: row;
  height: 24px;
  padding: 1px 5px 1px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
.flower_info_flex .btn_line_gray {
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  flex-direction: row;
  height: 24px;
  padding: 1px 5px 1px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
.bul_item_dot {
  color: #595959;
  font-size: 12px;
}
.alarm_apply_box {
  display: flex;
  justify-content: space-between;
  width: 330px;
  height: 54px;
  padding-top: 16px;
}
.prod_alarm_text {
  display: inline-block;
  flex: 1;
  color: #595959;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  vertical-align: top;
}
.right_area {
  display: inline-block;
  margin-left: auto;
  padding-left: 20px;
}
.right_area .btn_line_primary {
  color: #474c98;
  border: 1px solid #5055b1;
  background: #fff;
  flex-direction: row;
  height: 30px;
  padding: 0 9px 1px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.right_area .ico_alarm {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 12px;
  background: url(../img/ico_alarm_on@2x.png) left center no-repeat;
  background-size: 12px 18px;
  height: 18px;
  margin-right: 3px;
}
.alarm_apply_box {
  display: flex;
  justify-content: space-between;
  width: 330px;
  height: 54px;
  padding-top: 16px;
}
.locate_btn_wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.locate_btn_wrap button {
  width: 330px;
  height: 38px;
  padding: 0 13px 1px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 19px;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
}
.ico_locate {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 14px;
  background: url(../img/ico_locate@2x.png) left center no-repeat;
  background-size: 13px 19px;
  height: 19px;
  margin-right: 3px;
}
.prod_detail_body {
  position: relative;
  width: 100%;
  font-size: 14px;
  color: #000;
}
.prod_detail_body .tab_list_wrap {
  border-bottom: 1px solid #d5d5d5;
}
.sps_inner {
  width: 1200px;
  height: 71px;
  margin: 0 auto;
}
.sps_inner .tabs {
  display: inline-block;
  height: 71px;
}
.tab_item:first-child {
  padding: 0 30px 0 0;
}
.tab_item {
  height: 100%;
  margin: 0;
  padding: 0 30px;
  float: left;
  background: none;
}
.tab_text {
  width: 100%;
  color: #767676;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.prod_detail_contents {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.prod_detail_contents_inner {
  width: 814px;
}
.product_detail_area {
  margin-top: 80px;
}
.title_wrap {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}
.title_wrap .title_heading {
  font-size: 20px;
  font-weight: 700;
}
.title_wrap .title_right_area {
  color: #767676;
  font-size: 13px;
}
.product_event_contents {
  width: 814px;
  height: 430px;
}
.product_event_contents .event_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.event_item {
  width: 258px;
  height: 245px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.event_item img {
  width: 258px;
  height: 140px;
  border-radius: 10px;
}
.event_name {
  font-size: 15px;
  color: #000;
  display: block;
}
.event_period {
  margin-top: 6px;
  color: #595959;
  font-size: 13px;
  display: block;
}
.auto_overflow_footer {
  width: 814px;
  height: 24px;
  margin-top: 30px;
  text-align: center;
}
.btn_more_cont {
  display: inline-block;
  color: #767676;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  border: none;
  background: none;
}

.btn_more_cont {
  display: inline-block;
  color: #767676;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  border: none;
  background: none;
}

.product_related {
  width: 814px;
  height: 887px;
  margin-top: 70px;
}
.round_gray_box {
  display: block;
  padding: 36px 30px 40px;
  border-radius: 20px;
  background-color: #f7f7f7;
}
.title_heading_sm {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.product_related_wrap {
  height: 339px;
  padding-bottom: 22px;
}
.prod_list {
  display: flex;
  justify-content: space-between;
}
.prod_item {
  width: 118px;
  margin-right: 15px;
}
.prod_thumb_box img {
  width: 118px;
}
.prod_list .prod_info_box {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin-top: 16px;
}
.prod_info_box .prod_name {
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  color: #000;
}

.prod_info_box .prod_author {
  font-size: 13px;
  line-height: 23px;
  color: #595959;
  margin-top: 5px;
}
.prod_info_box .prod_price {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  color: #000;
  margin-top: 12px;
}
.life_prod {
  height: 358px;
  margin-top: 20px;
}
.prod_list .prod_thumb_box img {
  width: 118px;
  height: 118px;
  border-radius: 10px;
}

.product_detail_img {
  width: 814px;
  height: 8313px;
  margin-top: 70px;
}

.prod_detail_recommend {
  width: 330px;
  height: 2252px;
  margin: 80px 0 0 56px;
}

.recommend_event {
  height: 208px;
}
.event_list:last-child {
  display: flex;
  box-sizing: content-box;
}
.prod_row_list {
  display: flex;
  justify-content: space-between;
  flex-flow:column;
}

.prod_area_horizontal {
  display: flex;
}
.prod_item_right {
  margin-top: 20px;
}

.prod_area_horizontal img {
  width: 98px;
}

.prod_row_list .prod_info_box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 16px;
}

.prod_info_box .badge_green {
  text-align: center;
  vertical-align: top;
  color: #fff;
  background: #4dac27;
  border: 1px solid #4dac27;
  width: 20px;
  padding: 3px 2px 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  border-radius: 6px 0;
}
.prod_info_box .badge_light_gray {
  text-align: center;
  vertical-align: top;
color: #fff;
  background: #767676;
  border: 1px solid #767676;
  width: 20px;
  padding: 3px 2px 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  border-radius: 6px 0;
}
.prod_info_box .percent {
  color: #4dac27;
}
.event_thumb_box {
  display: block;
  border-radius: 16px;
  overflow: hidden;
  margin-top: 50px;
}
.event_thumb_box img {
  width: 100%;
}

